@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #28282d;
    --foreground: #fafafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Minimalist Utilities */
.border-border {
  border-color: #e4e4e7;
  /* zinc-200 */
}

.dark .border-border {
  border-color: #27272a;
  /* zinc-800 */
}